@import "src/pages/shared/variables";
$disc-number: 8;
$size: 100px;
$animation-duration: 0.3s;
.menu-container {
  width: 100px;
  height: 100px;
  position: fixed;
  top: $menu_pos;
  right: $menu_pos;
}
nav.menu {
  display: block;
  width: $disc-number * $size;
  height: $disc-number * $size;
  -webkit-transform: translate3d($size / ($disc-number)), -1 * $size / ($disc-number), 0;
  transform: translate3d($size / ($disc-number)), -1 * $size / ($disc-number), 0;
  transition: transform $animation-duration cubic-bezier(0.3, 1.4, 0.5, 0.9),
    -webkit-transform $animation-duration cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

nav.open {
}

nav.menu {
  position: relative;
  bottom: $size * ($disc-number / 2) - ($size / 2);
  right: $size * ($disc-number / 2) - ($size / 2);
  visibility: hidden;
  transition: visibility 0s step-end 0.7s;
}

.open.menu {
  visibility: visible;
  transition: visibility 0s step-start 0s;
}

a {
  color: $background;
  text-decoration: none;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  @include menu-font();
  line-height: 40px;
  border-radius: $disc-number / 2 * $size;
  -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity $animation-duration, -webkit-transform $animation-duration cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform $animation-duration cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity $animation-duration,
    -webkit-transform $animation-duration cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

.disc div {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: $background;
  img {
    width: 100%;
  }
}

.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.disc:hover a {
  color: inherit;
}

/* ************************** */

/* Level 1 */

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: $palette_color_7;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l1 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l1:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l1:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l1.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 2 */

.l2 {
  top: 1 * $size / ($disc-number / 4);
  left: 1 * $size / ($disc-number / 4);
  right: 1 * $size / ($disc-number / 4);
  bottom: 1 * $size / ($disc-number / 4);
  background: $palette_color_6;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.open .l2 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l2:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l2:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l2.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 3 */

.l3 {
  top: 2 * $size / ($disc-number / 4);
  left: 2 * $size / ($disc-number / 4);
  right: 2 * $size / ($disc-number / 4);
  bottom: 2 * $size / ($disc-number / 4);
  background: $palette_color_5;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.open .l3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l3:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l3:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l3.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 4 */

.l4 {
  top: 3 * $size / ($disc-number / 4);
  left: 3 * $size / ($disc-number / 4);
  right: 3 * $size / ($disc-number / 4);
  bottom: 3 * $size / ($disc-number / 4);
  background: $palette_color_4;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.open .l4 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l4:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l4:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l4.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 5 */

.l5 {
  top: 4 * $size / ($disc-number / 4);
  left: 4 * $size / ($disc-number / 4);
  right: 4 * $size / ($disc-number / 4);
  bottom: 4 * $size / ($disc-number / 4);
  background: $palette_color_5;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l5 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l5:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l5:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l5.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 6 */

.l6 {
  top: 5 * $size / ($disc-number / 4);
  left: 5 * $size / ($disc-number / 4);
  right: 5 * $size / ($disc-number / 4);
  bottom: 5 * $size / ($disc-number / 4);
  background: $palette_color_3;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.open .l6 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l6:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l6:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l6.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 7 */

.l7 {
  top: 6 * $size / ($disc-number / 4);
  left: 6 * $size / ($disc-number / 4);
  right: 6 * $size / ($disc-number / 4);
  bottom: 6 * $size / ($disc-number / 4);
  background: $palette_color_1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.open .l7 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .l7:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open .l7:active {
  background: $soft_color;
  color: $dark_color;
}

.open .l7.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Last Level */

.last {
  top: ($disc-number - 1) * $size / ($disc-number / 4);
  left: ($disc-number - 1) * $size / ($disc-number / 4);
  right: ($disc-number - 1) * $size / ($disc-number / 4);
  bottom: ($disc-number - 1) * $size / ($disc-number / 4);
  background: $highligth_color;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  visibility: visible;
  svg {
    position: relative;
    width: 33%;
    top: 7px;
    filter: invert(93%) sepia(2%) saturate(1637%) hue-rotate(210deg) brightness(104%) contrast(91%);
  }
}

.open .last {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open .last:hover {
  background: $dark;
  color: $highligth_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  svg {
    fill: $highligth_color;
  }
}

.open .last:active {
  background: $soft_color;
  color: $highligth_color;
}

.open .last.toggle {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* ********************* */

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: $main_color;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  color: $dark_color;
}

.open .toggle {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

.toggle:hover {
  background: $dark;
  color: $highligth_color;
  svg {
    fill: $highligth_color;
  }
}

.toggle:active {
  background: $soft_color;
  color: rgba(255, 215, 0, 0.5);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
