@import "src/pages/shared/variables";
$disc-number: 8;
$size: 100px;
.menu-personal-container {
  width: 100px;
  height: 100px;
  position: fixed;
  top: $menu_pos;
  right: $menu_pos;
  transition: right 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.menu-personal {
  display: block;
  width: $disc-number * $size;
  height: $disc-number * $size;
  -webkit-transform: translate3d($size / ($disc-number)), -1 * $size / ($disc-number), 0;
  transform: translate3d($size / ($disc-number)), -1 * $size / ($disc-number), 0;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

nav.menu-personal {
  position: relative;
  bottom: $size * ($disc-number / 2) - ($size / 2);
  right: $size * ($disc-number / 2) - ($size / 2);
  visibility: hidden;
  transition: visibility 0s step-end 0.7s;
}

.open-personal.menu-personal {
  visibility: visible;
  transition: visibility 0s step-start 0s;
}

a {
  color: $background;
  text-decoration: none;
}

.disc-personal {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  @include menu-font();
  line-height: 40px;
  border-radius: $disc-number / 2 * $size;
  -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s,
    -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}

.disc-personal div {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  img {
    width: 100%;
  }
}

.open-personal .disc-personal {
  pointer-events: auto;
  opacity: 1;
}

.disc-personal:hover a {
  color: inherit;
}

/* ************************** */

/* Level 1 */

.l1-personal {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: $palette_color_7;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l1-personal {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l1-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l1-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l1-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 2 */

.l2-personal {
  top: 1 * $size / ($disc-number / 4);
  left: 1 * $size / ($disc-number / 4);
  right: 1 * $size / ($disc-number / 4);
  bottom: 1 * $size / ($disc-number / 4);
  background: $palette_color_6;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.open-personal .l2-personal {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l2-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l2-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l2-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 3 */

.l3-personal {
  top: 2 * $size / ($disc-number / 4);
  left: 2 * $size / ($disc-number / 4);
  right: 2 * $size / ($disc-number / 4);
  bottom: 2 * $size / ($disc-number / 4);
  background: $palette_color_5;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l3-personal {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l3-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l3-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l3-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 4 */

.l4-personal {
  top: 3 * $size / ($disc-number / 4);
  left: 3 * $size / ($disc-number / 4);
  right: 3 * $size / ($disc-number / 4);
  bottom: 3 * $size / ($disc-number / 4);
  background: $palette_color_4;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.open-personal .l4-personal {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l4-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l4-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l4-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 5 */

.l5-personal {
  top: 4 * $size / ($disc-number / 4);
  left: 4 * $size / ($disc-number / 4);
  right: 4 * $size / ($disc-number / 4);
  bottom: 4 * $size / ($disc-number / 4);
  background: $palette_color_3;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.open-personal .l5-personal {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l5-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l5-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l5-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 6 */

.l6-personal {
  top: 5 * $size / ($disc-number / 4);
  left: 5 * $size / ($disc-number / 4);
  right: 5 * $size / ($disc-number / 4);
  bottom: 5 * $size / ($disc-number / 4);
  background: $palette_color_2;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.open-personal .l6-personal {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l6-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l6-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l6-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Level 7 */

.l7-personal {
  top: 6 * $size / ($disc-number / 4);
  left: 6 * $size / ($disc-number / 4);
  right: 6 * $size / ($disc-number / 4);
  bottom: 6 * $size / ($disc-number / 4);
  background: $palette_color_1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.open-personal .l7-personal {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .l7-personal:hover {
  background: $dark;
  color: $dark_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.open-personal .l7-personal:active {
  background: $soft_color;
  color: $dark_color;
}

.open-personal .l7-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* Last Level */

.last-personal {
  top: ($disc-number - 1) * $size / ($disc-number / 4);
  left: ($disc-number - 1) * $size / ($disc-number / 4);
  right: ($disc-number - 1) * $size / ($disc-number / 4);
  bottom: ($disc-number - 1) * $size / ($disc-number / 4);
  background: $highligth_color;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  font-size: 35px;
  svg {
    position: relative;
    width: 33%;
    top: 6px;
    filter: invert(93%) sepia(2%) saturate(1637%) hue-rotate(210deg) brightness(104%) contrast(91%);
  }
}

.open-personal .last-personal {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}

.open-personal .last-personal:hover {
  background: $dark;
  color: $highligth_color;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  svg {
    fill: $highligth_color;
  }
}

.open-personal .last-personal:active {
  background: $soft_color;
  color: $highligth_color;
}

.open-personal .last-personal.toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
}

/* ********************* */

.toggle-personal {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: $main_color;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  color: $dark_color;
}

.open-personal .toggle-personal {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

.toggle-personal:hover {
  background: $dark;
  color: $highligth_color;
  svg {
    fill: $highligth_color;
  }
}

.toggle-personal:active {
  background: $soft_color;
  color: rgba(255, 215, 0, 0.5);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
