@import 'src/pages/shared/variables';
.Footer {
  margin: auto;
  text-align: center;
  width: fit-content;
  clear: both !important;
}

.footer-icon {
  height: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 2vh;
  fill: $main_color;
}

@media screen and (min-width: 600px) and (max-width: 1360px) {
  .footer-icon {
    height: 4vw;
  }
}

@media screen and (min-width: 1361px) {
  .footer-icon {
    width: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
}