@import 'src/pages/shared/variables';

.App {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
}

.navigation {
  position: absolute !important;
  float: left;
}
