$menu_pos: 15px;
$main_color: #e64398;
$text_color: $main_color;
$background: #f0ebf4;
/* $palette_color_1: #861657;
$palette_color_2: #7F2982;
$palette_color_3: #861657;
$palette_color_4: #b39bc8;
$palette_color_5: #7F2982;
$palette_color_6: #861657;
$palette_color_7: #b39bc8; */
$palette_color_1: #C43A91;
$palette_color_2: #B8378E;
$palette_color_3: #AD358C;
$palette_color_4: #A13289;
$palette_color_5: #962F87;
$palette_color_6: #8A2C84;
$palette_color_7: #7F2982;
$blue_color: #a1c3d1;
$soft_color: #F7B2B7;
$highligth_color: #7F7EFF;
$dark: #7F7EFF;
/* '#a1c3d1',  '2B4141', '861657', 'F7B2B7', '7F2982', '7F7EFF' */