$menu_pos: 15px;
$main_color: pink;
$text_color: $main_color;
$palette_color_1: #c0fff0;
$palette_color_2: #a8f0ff;
$palette_color_3: #c0c0ff;
$palette_color_4: #ffd8f0;
$palette_color_5: #ffffc0;
$palette_color_6: #ffffc0;
$palette_color_7: #ffffc0;
$highligth_color: #ffc00e;