.content {
  padding-left: 9vw;
  padding-right: 9vw;
  width: 80vw;
}

h1,
h4 {
  color: pink;
  display: inline-block;
}

h1.expansive_bois {
  margin-top: 33vh;
  margin-bottom: 25vh;
  width: min-content;
  /* max-width: 45vw; */
}

h4.expansive_bois {
  clear: both !important;
  display: block;
  margin-bottom: 15vh;
  width: 45vw;
}

h4.expansive_bois:nth-child(even) {
  text-align: right;
  float: right;
}

/* Narrow */
@media screen and (max-width: 768px) {
  h1.expansive_bois {
    font-size: 17rem;
  }
  h4.expansive_bois {
    font-size: 4rem;
  }
}

/* Mid */
@media screen and (min-width: 769px) and (max-width: 1365px) {
  h1.expansive_bois {
    font-size: 13rem;
  }
  h4.expansive_bois {
    font-size: 3rem;
  }
}

/* Mid-wide */
@media screen and (min-width: 1366px) and (max-width: 1920px) {
  h1.expansive_bois {
    font-size: 11rem;
  }
  h4.expansive_bois {
    font-size: 2.5rem;
  }
}

/* Wide */
@media screen and (min-width: 1921px) {
  h1.expansive_bois {
    font-size: 10rem;
  }
  h4.expansive_bois {
    font-size: 2rem;
  }
}

.content {
  a:not(.arrow_link) {
    /* color: #ffc00e; */
    color: inherit;
    position: relative;
    white-space: nowrap;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(/images/waaave.svg);
      background-position: 5px 1.1em;
      background-repeat: repeat-x;
      background-size: 15px 5px;
      padding-bottom: 0.5em;
      transition: background-position 1s linear ;
      filter: invert(71%) sepia(98%) saturate(649%) hue-rotate(346deg)
        brightness(100%) contrast(105%);
    }
    &:hover {
      /* color: #282960; */
      &::after {
        animation-name: link;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        /* filter: invert(12%) sepia(32%) saturate(3931%) hue-rotate(226deg)
          brightness(94%) contrast(91%); */
      }
    }
  }
}

.arrow_link {
  color: #ffc00e;
  font-size: 3.5rem;
}

@keyframes link {
  from {background-position: 5px 1.15em;}
  to {background-position: 20px 1.15em;}
}